<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <nav>
        <p>Navgation</p>
    </nav>

    <header>
        <p>Banner / Logo</p>
    </header>
    
    <aside class="sidebar">
        <p>nieuws / reclame</p>
    </aside>

    <section>
        <p>Content</p>
    </section>
    
    <footer class="footer">
        <p>Footer</p>
    </footer>
</body>


</html>