<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Regels</a></li>
            <li><a href="#">Vacatures</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Discord</a></li>
        </ul>
    </nav>

    <header>
        <img src="./img/Banner-LSRP.png" alt="logo">
    </header>
    
    <aside>
        <div>
            <h3>Laatste nieuws</h3>
            <ul>
                <li><a>Doorbraak in Duurzame Energie: <br>Wetenschappers hebben een baanbrekende ontdekking gedaan op het gebied van duurzame energie. Een nieuw soort zonnepaneel, geïnspireerd op bladeren van planten, blijkt efficiënter te zijn dan bestaande modellen. Deze ontwikkeling opent de deur naar groenere energiebronnen.</a></li>
                <li><a>Innovatieve Robotassistent voor Zorgsector: <br>Een start-up heeft een revolutionaire robotassistent onthuld die specifiek is ontworpen om zorgverleners te ondersteunen. De robot kan eenvoudige taken uitvoeren, zoals het brengen van medicijnen en het meten van vitale functies, waardoor zorgprofessionals meer tijd kunnen besteden aan directe patiëntenzorg.</a></li>
                <li><a>Stadsfietsen met Zonne-oplaadstations: <br>Een stad in Nederland lanceert een nieuw stadsfietsprogramma met geïntegreerde zonne-oplaadstations. Fietsers kunnen tijdens het parkeren hun elektronische apparaten opladen, waardoor duurzaam transport en hernieuwbare energie hand in hand gaan.</a></li>
            </ul>
        </div>
    </aside>

    <section>
        <a>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit vitae quam non blandit. Integer nec sapien eu augue euismod convallis. Sed et tincidunt orci. Duis bibendum urna nec risus sagittis, eget cursus justo bibendum. Phasellus condimentum augue ut dolor facilisis, at consectetur purus varius. Suspendisse potenti. Nulla facilisi. Vestibulum sit amet volutpat leo. Morbi vehicula massa vel justo rhoncus, nec convallis libero commodo.
        </a>
    </section>

    <footer>
        <a href="">Over</a>
        <a href="">Privacy</a>
    </footer>
</body>


</html>