/* Global styles */
body {
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Navigation */
nav {
    height: 90px;
    background-color: #6A6969;
}

nav ul {
    background-color: #6A6969;
    font-size: 20px;
    font-style: arial-bold;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    margin-right: 20px;
    height: 90px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    padding: 20px 16px;
    transition: color 0.3s;
    display: block;
    height: 90px;
}

nav a:hover {
    color: #A00B10;
}

.active {
    background-color: #A00B10;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 190px;
}

.logo {
    background-color: #6A6969;
    height: 80px;
    width: 180px;
    text-align: center;
}

/* Footer */
footer {
    margin-top: auto;
    background-color: #D3D3D3;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: #6A6969;
    margin: 0 10px;
}

/* Home page */
.container {
    display: flex;
    flex: 1;
}

section {
    flex: 1;
    margin-top: 7%;
}

.homepage {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.relevant {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.kop-hp {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

aside {
    background-color: #CCCBCB;
    color: white;
    width: 20%;
    padding: 20px;
}

.laatstenieuws {
    background-color: #A00B10;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    display: block;
    margin-bottom: 50px;
    padding: 14px 16px;
}

.kop {
    color: #A00B10;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.artikel {
    color: #6A6969;
    display: block;
    margin-bottom: 20px;
}

.kop-h {
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.artikel-h {
    color: #A00B10;
    font-size: large;
    display: block;
    margin-bottom: 50px;
}

/* Nieuws page */
.nieuws {
    background-color: #CCCBCB;
    color: white;
    width: 50%;
    padding: 20px;
    margin-left: 25%;
    margin-bottom: 20px;
}

/* Contact page */
form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.container-midden {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 35%;
}

.contact {
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: -20%;
    float: right;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Werknemers page */
.werknemers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.werknemer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
}

.naam {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.functie {
    font-style: italic;
    margin-bottom: 10px;
}

.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    align-items: center;
}

/* Vacatures page */
.vacatures {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.vacature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.kop-v {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.tekst-v {
    font-style: italic;
    margin-bottom: 10px;
}

/* Table page */
table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 5%;
    margin-left: 5%;
}

th, td {
    border: 10px solid #6A6969;
    padding: 12px;
    text-align: left;
}

td {
    width: 10%;
    text-align: center;
}

th {
    background-color: #A00B10;
    color: white;
}

.tijd {
    width: 6%;
    background-color: #A00B10;
    color: white;
    text-align: left;
}
