body {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* Navbar */
=======
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar at top */
>>>>>>> a671f0150d968a5a1a593469ff1bc543891b3845
#navbar {
    padding: 10px;
    text-align: center;
}

#navbar a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

#navbar a:hover {
    background-color: #ddd;
}

.left-nav {
    float: left;
    width: 20%;
    padding: 10px;
}

.right-nav {
    float: right;
    width: 20%;
    padding: 10px;
}

.image-dots {
    width: 20px;
    padding: 10px;
}

.image-profile {
    width: 40px;
    padding: 10px;
}

<<<<<<< HEAD
/* Dropdown menu 3x3 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content-3x3 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: -150%;   
    border-radius: 15px;
}

.dropdown:hover .dropdown-content-3x3 {
    display: block;
}

.dropdown-content-3x3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-3x3 a:hover {
    background-color: #ddd;
}

/* Dropdown menu Apps */
.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.apps {
    position: relative;
    display: inline-block;
    max-width: 35px;
}

/* Searchbar */
#searchbar {
    text-align: center;
    padding: 10px;
    margin-top: 2%;
=======
/* Searchbar in the middle */
#searchbar {
    text-align: center;
    padding: 10px;
    margin-top: 15%;
>>>>>>> a671f0150d968a5a1a593469ff1bc543891b3845
}

.google-logo {
    max-width: 300px;
    margin-bottom: 20px;
}

.searchbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-form {
    display: flex;
}

.search-text {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
    width: 500px;
}

.search-buttons {
    display: flex;
    margin-top: 10px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 24px;
    cursor: default;
<<<<<<< HEAD
    margin-right: 5px;
=======
    margin-right: 5px; /* Add spacing between buttons */
>>>>>>> a671f0150d968a5a1a593469ff1bc543891b3845
}

.search-button {
    margin-right: 0;
<<<<<<< HEAD
}

/* Footer */
#footer {
    background-color: #f2f2f2;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.footer-container {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    text-align: left;
}

.footer-left,
.footer-middle,
.footer-right {
    padding: 10px;
}

.footer-left,
.footer-right {
    flex: 1;
}

.footer-middle {
    flex: 2;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #333;
    margin: 7px;
}

/* Dropdown menu Intellingen */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content-instellingen {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: -2200%; 
    right: -30%;   
    border-radius: 15px;
}

.dropdown:hover .dropdown-content-instellingen {
    display: block;
}

.dropdown-content-instellingen a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-instellingen a:hover {
    background-color: #ddd;
=======
>>>>>>> a671f0150d968a5a1a593469ff1bc543891b3845
}